*{
    margin: 0px;
    padding: 0px;
}
/* header start */
.btn{
    padding: 10px 15px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 0px 8px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.btn:hover{
    background-color: tomato;
}
a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-right: 18px;
    color: white;
}
a:hover{
    border-bottom: 1px solid tomato;
    color: tomato;
}
.fa-solid{
    margin-right: 3px;
    font-size: 15px;
}
li{
    list-style: none;
}
.nav{
    background-color: #424141;
    padding: 5px;
    color: white;
}
.logo-image{
    width: 160px;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* header end */
/* banner start */
.header-text-h1 .h1-about-text{
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
}
.banner-container{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-image: url('../images/background.png'),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);;
}
.header-photo{
    width: 450px;
}
.cover-ptag{
    margin: 20px 0;
    font-size: 20px;
}
/* about section */
.about-text-h1{
    text-align: center;
    font-size: 40px;
    color: tomato;
    font-family: 'Poppins';
}
.about-container{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* service */
.service{
    background-image: url('../images/background.png'),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);;
}
.service-text-h1{
    text-align: center;
    color: white;
    font-size: 45px;
    font-family: 'Poppins';
}
.service-container{
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 20px;
    /* padding: 15px; */
}
.card{
    width: 250px;
    background-image: url('../images/background.png'),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);;
    padding: 15px;
    border-radius: 2px 25px;
    margin: 40px 10px;
    border-bottom: 1px solid gray;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.card-img{
    width: 110px;
}